SUPABASE_URL=https://smwolkoohhrmljqkkdjj.supabase.co/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtd29sa29vaGhybWxqcWtrZGpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ0MTE0MDQsImV4cCI6MjA1OTk4NzQwNH0.27BEWu-E-bMZEhLfl1LN5yS39a1SxB6L2yFmEts3DQ4